.place__text {
    display: flex;
    flex-direction: column;
}

.place__text :last-child {
    margin-top: 24px;
}

@media screen and (max-width: 533px) {
    .place__text {
        margin-top: 32px;
        width: 90vw;
    }
    .place__text :last-child {
        margin-top: 32px;
        width: 90vw;
    }
}