.intro {
    max-width: 690px;
    margin: 92px 0 0 11.5625vw;
}

@media screen and (min-width: 1281px) {
    .intro {
        margin-right: auto;
        margin-left: auto;
        padding-right: 295px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 11,5625%;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 86px 0 0 16px;}