.footer {
    max-width: 1184px;
    margin: 92px auto 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1279px) {
    .footer {
        width: 92.5vw;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90.625vw;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 93.75;
        margin-top: 88px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        width: 58.125vw;
        margin: 20vw 0 0 5vw;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
    }
}